body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  background: linear-gradient(178deg, #f5d7d5 1%, #c0c8a7 100%, #bfc8a6 100%);

  font-family: "Sour Gummy", sans-serif;
}

.carousel {
  position: relative;
  width: 760px;
  height: 420px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stack {
  position: relative;
  width: 90vw;
  height: 55vh;
  overflow: hidden;
  border: 3px #2b211c solid;
  background: #f6edd8;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 160px;
  height: 200px;
  border-radius: 36px;
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.28);
  color: #2b211c;
  transform: translate(-50%, -50%);
  transition:
    transform 0.45s ease,
    opacity 0.45s ease,
    filter 0.45s ease,
    z-index 0.45s ease;
}

.card:nth-child(odd) {
  background: #e6a38d;
}

.card:nth-child(even) {
  background: #d8e0b8;
}

.nav {
  border: 0;
  background: transparent;
  font-size: 42px;
  cursor: pointer;
}

.book-info,
.title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.book-info {
  font-size: 20px;
  font-weight: 500;
}

.title {
  font-size: 24px;
  font-weight: 600;
  text-decoration: underline;
}
article {
  margin: 15px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

hr {
  width: 100px;
}
