body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  justify-items: center;
  background: linear-gradient(178deg, #f5d7d5 1%, #c0c8a7 100%, #bfc8a6 100%);
  font-family: "Sour Gummy", sans-serif;
  overflow: scroll;
}

.carousel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stack {
  position: relative;
  width: 80vw;
  max-width: 800px;
  height: 60vh;
  max-height: 600px;
  overflow: scroll;
  border: 3px #2b211ced solid;
  background: #f6edd8;
  border-radius: 20px;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 160px;
  height: 200px;
  border-radius: 36px;
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.28);
  color: #2b211c;
  transform: translate(-50%, -50%);
  transition:
    transform 0.45s ease,
    opacity 0.45s ease,
    filter 0.45s ease,
    z-index 0.45s ease;
}

.card:nth-child(odd) {
  background: #e6a38d;
}

.card:nth-child(even) {
  background: #d8e0b8;
}

.nav {
  margin: 5px;
  font-size: 42px;
  cursor: pointer;
}

.book-info,
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.book-info {
  font-size: 20px;
  font-weight: 500;
}

.title {
  font-size: 24px;
  font-weight: 600;
  text-decoration: underline;
}
article {
  margin: 15px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

hr {
  width: 100px;
  border: 1px #2b211c solid;
}

#addBookButton {
  position: absolute;
  bottom: 10vh;
  width: 150px;
  height: 40px;
  font-size: large;
}

button,
#submitBook {
  display: flex;
  background: #f9f1de;
  box-shadow: 4px 5px 0px rgba(0, 0, 0, 0.25);
  border-radius: 64px;
  border: 1px #5c5344 solid;
  justify-content: center;
  align-items: center;
  font-family: "Sour Gummy", sans-serif;
}

button,
#submitBook {
  padding: 3px 10px;
  font-size: small;
}

.dialogButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 5px;
}

h1 {
  color: #f9f1de;
  font-size: 50px;
  font-family: Sour Gummy;
  font-weight: 900;
  word-wrap: break-word;
  text-shadow:
    3px 5px 0px rgba(92, 83, 68, 1),
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  margin-top: 40px;
  margin-bottom: 20px;
}
